@font-face {
    font-family: 'Qanelas';
    src: url('Qanelas-ExtraBold.eot');
    src: url('Qanelas-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Qanelas-ExtraBold.woff2') format('woff2'),
        url('Qanelas-ExtraBold.woff') format('woff'),
        url('Qanelas-ExtraBold.ttf') format('truetype'),
        url('Qanelas-ExtraBold.svg#Qanelas-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

